p {
    color:coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: oblique;
    line-height: 2; /* el espacio entre lineas*/
    letter-spacing: 1px; /* espacio entre letras*/
    text-transform: uppercase; /* capitalize & lowercase*/
}

h1 {
    text-align: center;
}